body{
    /* opacity: 0.3; */
    background-image:url('../images/background3.jpg');
}

#main{
    width: 100%;
    margin-top: 20px;
}

.answer{
    color: #adff2f;
}

.answer:hover{
    color: #7cf18c;
}

#timeLeft{
    padding-top: 20px;
    font-weight: bolder;
    color: #adff2f;
}

.selection{
    margin: 20px;
}

#question{
    margin: 50px;
    color: #ffffff;
}

.timer{
    padding-top: 50px;
}

.winLoss{
    font-weight: bolder;
    color: #ffffff;
    /* color: black; */
}
